{% macro render_field_errors(field) %}
{% if field.errors %}
<div class="form-field-errors">
    <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}

{% macro render_field(field, label=True, errors=True) %}
{% set field_class = field.__class__.__name__ %}
{% if label and not field_class in ['SubmitField', 'BooleanField', 'HiddenField'] %}
<div><strong>{{ field.label }}</strong></div>
{% endif %}
{% if not field_class in ['SubmitField'] %}
<span>{{ field(class__='form-control')|safe }}</span>
{% else %}
<span><button class="form-control btn btn-primary" type="submit">{{ field.label }}</button></span>
{% endif %}
{% if label and field_class in ['BooleanField'] %}
<span><strong>{{ field.label }}</strong></span>
{% endif %}
{% if errors %}
{{ render_field_errors(field) }}
{% endif %}
{% endmacro %}

{% macro render_form(form) %}
<div class="form-group">
    {% for field in form._fields.values() %}
    {{ render_field(field) }}
    {% endfor %}
</div>
{% endmacro %}

{% macro render_flashes() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endmacro %}

{% macro render_pagination(page, max_page) %}
{% if max_page > 1 %}
<ul class="pagination justify-content-center">
    {% set kwargs = dict(request.args) %}
    {% set current_page = (kwargs.get('page') | int) or 1 %}
    {% if page - 1 >= 1 %}
    {% set _ = kwargs.update({'page': current_page - 1}) %}
    <li class="page-item">
        <a href="{{ url_for(request.endpoint, **kwargs) }}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% endif %}
    <li class="page-item disabled">
        <a class="page-link" href="#">
            {{ page }}/{{ max_page }}
        </a>
    </li>
    {% if page + 1 <= max_page %}
    {% set _ = kwargs.update({'page': current_page + 1}) %}
    <li class="page-item">
        <a href="{{ url_for(request.endpoint, **kwargs) }}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endmacro %}